body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url(/static/img/Foto.jpg);
}
.cabecera_header{
    width: 100%;
    height: 50px;
    border-color: 2px solid red;
}

























container {
    flex: 1;
}

footer {
    background-color: #272b30;
    padding: 10px 0;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}
