<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/style.css">
  <!-- Bootstrap CSS v5.2.1 -->
  <link href="/static/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
  <title>Document</title>
</head>
<header class="cabecera_header">

</header>
<body>
</body>
</html>

<style>
  .cabecera_header{
    width: 100%;
    height: 50px;
    border: 2pz solid black;
  }
</style>