{% extends 'index.html' %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Document</title>
</head>
<body>
    <h2>Formación Académica</h2>
    <form method="POST" action="/formacion-academica">
        <label for="titulo">Título obtenido o estudios cursados:</label>
        <input type="text" id="titulo" name="titulo" required><br>
        <label for="institucion">Institución:</label>
        <input type="text" id="institucion" name="institucion" required><br>

        <!-- Agrega los demás campos aquí -->

        <br>
        <button type="submit" class="btn btn-primary">Siguiente</button>
        <a href="/datos-personales" class="btn btn-secondary">Atrás</a>
    </form>
</body>
</html>

{% endblock %}