<!doctype html>
<html lang="es">

<head>
  <title>Curriculum Vitae</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


</head>

<body>
  <header>
    <!-- place navbar here -->
  </header>
  <main>
    <h5>
      <p>El cuil es: <span id="cuil">{{CUIL}}</span></p><br />
      <p>El nombre es: <span id="nombre">{{Nombre}}</span></p><br />
    </h5>
  
  
    
      <p><span id="titulo"></span></p><br />
      <p><span id="institucion"></span></p><br />
    
  
    
      <p><span id="empresa"></span></p><br />
      <p><span id="rubro"></span></p><br />

  </main>
  <footer>
    <!-- place footer here -->
  </footer>
 
</body>

</html>

